* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Jura', sans-serif;
}

.navbar {
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
}

#brand,
#links a {
   color: #fff;
}

#brand {
   font-size: 25px;
   text-transform: uppercase;
   font-weight: 700;
}

#links a {
   font-size: 15px;
}

#brand:hover,
#links a:hover {
   color: #f44b4b;
   background-color: rgba(255, 255, 255, 0.5);
}

.section-header {
   padding: 0 0 10px 0;
   font-weight: 700;
   letter-spacing: 2px;
}

.section-header:after {
   display: block;
   height: 3px;
   width: 150px;
   background-color: #f44b4b;
   content: " ";
   margin: 10px auto;
}

img {
   max-width: 100%;
}

section {
   padding: 30px 0 40px 0;
}

header {
   height: 100vh;
   background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/forest.jpg");
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/forest.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   padding: 20px 0 0 0;
}

.header-container {
   position: relative;
   top: 50%;
   -ms-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
   max-width: 650px;
   display: inline-block;
}

.name {
   color: #337AB7;
   font-size: 6em;
   letter-spacing: 2px;
}

.name:after {
   display: block;
   height: 3px;
   width: 300px;
   background-color: #fff;
   content: " ";
   margin: 10px auto;
}

.title {
   font-size: 3em;
   letter-spacing: 2px;
}

.blue {
   color: #337AB7;
}

.white {
   color: #fff;
}

#about-me,
#projects,
#contact {
   background-color: #337AB7;
   color: #fff;
}

.profile-pic {
   border-radius: 100%;
   max-width: 230px;
}

.summary,
.form-control,
.submit {
   font-size: 1.5em;
   line-height: 1.3em;
}

.skills-row {
   margin: 20px 0;
}

.skills-icon {
   font-size: 5em;
   margin: 0 10px;
}

.project-row {
   padding: 0 0 20px 0;
}

.img-container {
   position: relative;

}

.textbox {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0;
   background: #000;
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.textbox:hover {
   opacity: 0.8;
   cursor: pointer;
}

.text {
   padding: 0 17px;
   color: #fff;
}

.text h4 {
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 24px
}

.text p {
   padding: 10px 0;
   font-size: 16px;
}

.form {
   max-width: 1140px;
   width: 60%;
   margin: 0 auto;
}

.submit {
   margin: 0 auto;
   display: block;
}

.contact-header {
   text-transform: uppercase;
   letter-spacing: 2px;
}

.footer-area {
   margin: 0 0 10px 0;
}

.footer-icon {
   font-size: 2em;
   margin: 0 10px;
   outline: none;
   color: #fff;
}

.copyright {
   font-size: 12px;
}

a:visited,
a:hover,
a:link,
a:active {
   text-decoration: none;
}

/** MEDIA QUERIES **/

@media (max-width: 1200px) {
   .summary {
      font-size: 1.38em;
   }

   .profile-pic {
      display: block;
      margin: auto;
   }
}

@media (max-width: 991px) {
   .project-row .col-md-6:nth-child(odd) {
      margin: 0 0 20px 0;
   }
   
   .summary {
      margin: 20px 0 0 0;
   }

   .form {
      width: 100%;
   }
}

@media (max-width: 610px) {
   .header-content h1 {
      font-size: 3.5em;
   }

   .header-content h2 {
      font-size: 2em;
   }

   .name:after {
      width: 150px;   
   }
   
   .text {
      padding: 0 5px;
   }

   .text h4 {
      font-size: 20px;
   }

   .text p {
      font-size: 16px;
   }
}

@media (max-width: 405px) {
   .header-content h1 {
      font-size: 2.8em;
   }

   .header-content h2 {
      font-size: 1.5em;
   }

   .icon {
      font-size: 4em !important;
      margin: 15px;
   }
}