* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.nav.navbar-nav.navbar-right li a:hover,
.navbar-header .navbar-brand:hover  {
	background-color: #3C6994;
	color: #fff;
}

h1, h2 {
	font-family: "Roboto";
	text-transform: uppercase;
}

.section-header {
	padding: 0 0 20px 0;
	font-weight: 700;
	letter-spacing: 2px;
}

img {
	max-width: 100%;
}

section, footer {
	padding: 30px 0;
}

header {
	height: 100vh;
	background-image: url("../img/macbook.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding: 20px 0 0 0;
}

.header-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
	text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
	color: #fff;
	display: inline-block;
	max-width: 600px;
}

.header-content h1, h2 {
	font-family: Times, "Times New Roman", Georgia, serif;
}

.header-content h1 {
	font-size: 6em;
}

.line-break {
	border-top: 2px solid;
	width: 100%;
}

.header-content h2 {
	font-size: 3em;
}

#projects {
	color: #3C6994;
	background-color: #D5D5D5;
}

#about-me, #contact {
	background-color: #3C6994;
	color: #D5D5D5;
}

.profile-pic {
	border-radius: 100%;
	border: 5px solid;
	max-width: 230px;
}

.summary {
	font-size: 1.6em;
	line-height: 1em;
	letter-spacing: 2px;
}

.project-image {
	-webkit-box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 8px 8px 30px 0px rgba(0,0,0,0.75);
	transition: box-shadow 0.2s ease-in-out;
	cursor: pointer;
}

.project-image:hover {
	-webkit-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.75);
}

.project-row {
	padding: 0 0 20px 0;
}

.icon {
	font-size: 5em !important; 
	margin: 0 20px;
	color: #D5D5D5;
	outline: none;
}

a:visited,
a:hover,
a:link,
a:active{
	text-decoration: none;
}

.icon:hover {
	color: #D5D5D5;
}

/** MEDIA QUERIES **/

@media (max-width: 1200px) {
	.summary {
		font-size: 1.45em;

	}
	.profile-pic {
		display: block;
		margin: auto;
	}
}

@media (max-width: 991px) {
	.summary {
		margin: 20px 0 0 0;
	}
}

@media (max-width: 610px) {
	.header-content h1 {
		font-size: 3.5em;
	}
	.header-content h2 {
		font-size: 2em;
	}
}

@media (max-width: 405px){
	.header-content h1 {
		font-size: 3em;
	}
	.header-content h2 {
		font-size: 1.6em;
	}
}
	

@media (max-width: 350px) {
	.icon {
		font-size: 4em !important;
	}
}